$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;


$color__text-main: #404040;//#6a7483;
$color__text-plain: #ffffff;
$color__headings: #005C29;//rgba(0,92,41,1);
$color__headings_smaller: #020d1d;	

$color__navbar-bg:#ffffff;
$color__menu-button: #005624;
$color__menu-mobile-bg: #005624;
$color__menu-mobile-active: #005624;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
